# AI & External APIs
gemini_api_key = AQ.Ab8RN6K5PNRRC4aQdOQxal_kxNI1BIwqiI3a7CLvTf-8OSTCxw
open_weather_key = 9ef58e936c3f6629938fbb42365afd7d
Foursquare_api_key = 5JYAWJTUGZILMHOWKKJ0NGAOVCEIPMPVBY1FNFTJV0DLHGYR
Unsplash_api_key = R01r8HGle5zXsS7BmlBF1YBXmLVeV7av5vRNW3seby8
ExchangeRate-API = f23ddafa4cd752e293155dd8

# Supabase
SUPABASE_URL = https://iswmdqrggxtuovweqonv.supabase.co
SUPABASE_ANON_KEY = sb_publishable_L8GZVe6EAjpHd3JsOQcDiQ_6iAmMgeO
SUPABASE_SERVICE_ROLE_KEY = sb_secret_ARWWPzuEIfE14egPRZJU6Q_l1P_rQGF

# Security
JWT_SECRET_KEY= a6fad8097be2fb32e9d501030e36c16d9912a9a70cd2e530b5e167995dd1a18c


# Redis
REDIS_URL=redis://redis:6379/0

# Frontend (Vite)
VITE_SUPABASE_URL=your_supabase_url_here
VITE_SUPABASE_ANON_KEY=your_supabase_anon_key_here
VITE_API_URL=http://localhost:8000
