# AI & External APIs
GEMINI_API_KEY= AQ.Ab8RN6K5PNRRC4aQdOQxal_kxNI1BIwqiI3a7CLvTf-8OSTCxw
OPENWEATHER_API_KEY=  9ef58e936c3f6629938fbb42365afd7d
FOURSQUARE_API_KEY= 5JYAWJTUGZILMHOWKKJ0NGAOVCEIPMPVBY1FNFTJV0DLHGYR
UNSPLASH_ACCESS_KEY= R01r8HGle5zXsS7BmlBF1YBXmLVeV7av5vRNW3seby8
EXCHANGERATE_API_KEY= f23ddafa4cd752e293155dd8
TRAVELPAYOUTS_API_TOKEN= 877ff3e8ce7ebad0f353b27e4778a3af
TRAVELPAYOUTS_MARKER= 757887

# Supabase
SUPABASE_URL=https://iswmdqrggxtuovweqonv.supabase.co
SUPABASE_ANON_KEY= sb_publishable_L8GZVe6EAjpHd3JsOQcDiQ_6iAmMgeO
SUPABASE_SERVICE_ROLE_KEY= sb_secret_ARWWPzuEIfE14egPRZJU6Q_l1P_rQGF

# Security
JWT_SECRET_KEY=a6fad8097be2fb32e9d501030e36c16d9912a9a70cd2e530b5e167995dd1a18c

# Redis
REDIS_URL=redis://redis:6379/0

# Application
APP_NAME=VoyageAI
APP_VERSION=1.0.0
DEBUG=True
ENVIRONMENT=development
